In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd 
import numpy as np
import seaborn as sns; sns.set(font_scale=1.7) 
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm
import math
import json
from sklearn.model_selection import train_test_split, KFold
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, GradientBoostingClassifier 
import xgboost as xgb
import re
from sklearn.metrics import log_loss, auc, roc_curve

In [17]:
p = pd.read_csv('opendata_projects000', header=None)

In [14]:
col = ['projectid','teacheracctid','schoolid', 'school_ncesid', 'school_latitude','school_longitude','school_city','school_state','school_zip','school_metro','school_district','school_county','school_charter','school_magnet','school_year_round','school_nlns','school_kipp','school_charter_ready_promise','teacher_prefix','teacher_teach_for_america','teacher_ny_teaching_fellow','primary_focus_subject','primary_focus_area','secondary_focus_subject','secondary_focus_area','resource_type','poverty_level','grade_level','vendor_shipping_charges','sales_tax','payment_processing_charges','fulfillment_labor_materials','total_price_excluding_opt_donation','total_price_including_opt_donation','students_reached','total_donations','num_donors','eligible_double_your_impact_match','eligible_almost_home_match','funding_status','date_posted','date_completed','date_thank_you_packet_mailed','date_expiration']

In [15]:
len(col)

44

In [18]:
p.columns = col

In [19]:
p.head()

,projectid,teacheracctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,5c43ef5eac0f5857c266baa1ccfa3d3f,9e72d6f2f1e9367b578b6479aa5852b7,3.600097e+11,40.688454,-73.910432,New York City,NY,11207.0,urban,...,0.0,251.9,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-27 00:00:00,2003-12-31 00:00:00
1,ed87d61cef7fda668ae70be7e0c6cebf,1f4493b3d3fe4a611f3f4d21a249376a,1ae4695be589a36816188e2b301a0395,3.600077e+11,40.765517,-73.960090,New York City,NY,10065.0,NaN,...,0.0,137.0,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-03 00:00:00,2003-12-31 00:00:00
2,b56b502d25666e29550d107bf7e17910,57426949b47700ccf62098e1e9b0220c,4a06a328dd87bd29892d73310052f45f,3.600077e+11,40.770233,-73.950760,New York City,NY,10075.0,NaN,...,0.0,125.0,1,f,f,completed,2002-09-16 00:00:00,2002-09-19 00:00:00,2002-12-19 00:00:00,2003-12-31 00:00:00
3,016f03312995d5c89d6b348be4682166,9c0aa56b63b743454d6da9effcf122fc,bb0af5dac1b54693ba86ef63eacd6594,3.600076e+11,40.727826,-73.978721,New York City,NY,10009.0,urban,...,0.0,205.0,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2002-12-02 00:00:00,2003-12-31 00:00:00
4,cf6275558534ca1b276b0d8d5130dd9a,1d4d8a42730dbb66af1ebb6ab37456b7,768dab263f87881fe7c68ffb3965df7c,3.600083e+11,40.841216,-73.938605,New York City,NY,10032.0,urban,...,0.0,264.0,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-02-26 00:00:00,2003-12-31 00:00:00

In [20]:
col_to_use = ['school_state','resource_type', 'poverty_level','date_posted','total_donations']

In [21]:
part = p[col_to_use]

In [22]:
part.head()

,school_state,resource_type,poverty_level,date_posted,total_donations
0,NY,Supplies,highest poverty,2002-09-13 00:00:00,251.9
1,NY,Books,highest poverty,2002-09-13 00:00:00,137.0
2,NY,Supplies,moderate poverty,2002-09-16 00:00:00,125.0
3,NY,Supplies,high poverty,2002-09-17 00:00:00,205.0
4,NY,Supplies,highest poverty,2002-09-17 00:00:00,264.0

In [23]:
part.to_csv('School_Donations.csv', index=False)

In [2]:
df = pd.read_csv('School_Donations.csv')

In [3]:
df.head()

,Unnamed: 0,school_state,resource_type,poverty_level,date_posted,total_donations
0,0,NY,Supplies,highest poverty,2002-09-13 00:00:00,251.9
1,1,NY,Books,highest poverty,2002-09-13 00:00:00,137.0
2,2,NY,Supplies,moderate poverty,2002-09-16 00:00:00,125.0
3,3,NY,Supplies,high poverty,2002-09-17 00:00:00,205.0
4,4,NY,Supplies,highest poverty,2002-09-17 00:00:00,264.0

In [7]:
df.columns.tolist()

['Unnamed: 0',
 'school_state',
 'resource_type',
 'poverty_level',
 'date_posted',
 'total_donations']

In [8]:
df['poverty_level'].unique()

array(['highest poverty', 'moderate poverty', 'high poverty', 'low poverty'], dtype=object)

In [9]:
df.dtypes

Unnamed: 0           int64
school_state        object
resource_type       object
poverty_level       object
date_posted         object
total_donations    float64
dtype: object

In [10]:
import datetime

In [ ]:
par